 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
 }

 body {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: white;
    
 }

 main {
    display: flex;
    justify-content: center;
    width: 100%;
 }


#card {
    background-color: #1F1F1F;
    max-width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 60%; 
    max-width: 266px;
    height: auto;
    border-radius: 15px;
    width: 90%;
    padding: 40px 24px;
    
    
    
}

#Foto img{
    border-radius: 50%; 
    object-fit: cover;
    height: 84px;
    width: 84px;
}

h1 {
    font-size: 27px;
    
    margin-top: 15px;
}

h2 {
    font-size: 14px;
    margin-top: 14px;
    color: #C5F82A;
    margin-bottom: 15px;
}

p {
    font-size: 12px;
    margin-bottom: 26px;
}

#card p {
    font-weight: 100;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 12px;
}

#botoes a button{
    background-color: #333333;
    width: 178px;
    height: 46px;
    border-radius: 8px;
    border-style: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

@media (min-width: 768px) {
    #card {
        max-width: 396px;
        padding: 45px 43px;
        margin-top: 20px;
        height: 580px;
        margin-bottom: 15px;
    }

    #botoes a button{
        width: 311px;
        height: 40px;
        color: white;
    }

    #botoes {
        gap: 16px;
    }

    #Foto img {
        height: 92px;
        width: 92px;
        margin-top: 0px;
    }

}